
.section{
	clear:both;
	padding:0px;
	margin:0px;
}

.col{
	display:block;
	float:left;
	margin:1% 0 1% 1.6%;

}


.col:first-child{margin-left:0;}
.group:before,
.group-after{
	content:"";
	display:table;
}

.group:after{
	clear:both;
}


.span_3{
margin-top:130px;
width:30%;
color:pink;
}

.span_2{
margin-top:130px;
width:30%;

}

.span_1{
margin-top:130px;
width:30%;
}