$primary-pink:#FF69B4 ;
$primary-black: #323232;
$primary-white: #FFFFFF;

.p_project{

	background-color:$primary-pink;
	background-size: cover;
  	background-attachment: fixed;
  	transition: all 0.2s ease;

}
.p_contact{
	text-align:center;
 	
}

