

$font-standard: 'EB Garamond', serif;
$fancy-font:'Satisfy', cursive;
$primary-pink: #FF69B4 ;
$primary-black: #323232;
$primary-white: #FFFFFF;

body {
  font: 100% $font-standard;
 
}
.logo{
	margin-top:90px;
	font-size: 300%;
	font-family: $fancy-font;
	text-align:center;
	 color: $primary-pink;
}
.projectlogo{
margin-top:-90px;
	font-size: 300%;
	font-family: $fancy-font;
	text-align:center;
	
}
.contactlogo{
	margin-top:-90px;
	font-size: 300%;
	font-family: $fancy-font;
	text-align:center;
}
.heading{
	margin-top:-90px;
	font-size: 300%;
	font-family: $fancy-font;
	text-align:center;
}

.project{
	height:300px;
	 width:350px;
}

.headshot{
	height:500px;
	width:350px;

}